<div class="footer">
  <div class="container">
    <div class="row margin-bottom-20">
      <div class="col-md-offset-2 col-md-4 col-sm-6">
        <hr class="about-heading-spacer">
        <div class="clearfix"></div>
        <h3>Dane firmy</h3>
        <p class="footer-info">True Solution Marcin Paczkowski</p>
        <p class="footer-info">NIP: 7772968662 </p>
      </div>
      <div class="col-md-4 col-md-offset-2 col-sm-6">
        <hr class="about-heading-spacer">
        <div class="clearfix"></div>
        <h3>Kontakt</h3>
        <p class="footer-info">697-695-466 </p>
        <p class="footer-info">paczkowski.marcin@icloud.com</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="footer-website clearfix">
        <div class="col-md-12">
          <p class="footer-website-info text-center">
            True Solution Marcin Paczkowski {{ currentYear }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>