.intro {
    padding: 50px 0;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    min-height: 550px;

    &-content {
        position: relative;
        padding-top: 20%;
        padding-bottom: 20%;

        h1 {
            margin: 0;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, .7);
            font-size: 5em;
            font-weight: 700;
        }

        h2 {
            color: rgba(0, 0, 0, .8);
            text-shadow: 2px 2px 3px rgba(255, 255, 255, .7);
        }

        h3 {
            color: rgba(0, 0, 0, .5);
            text-shadow: 2px 2px 3px rgba(170, 170, 170, 1);
        }

        @media all and (max-width: 437px) {
            h1 {
                font-size: 3em
            }
        }
    }

    &-divider {
        width: 400px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    @media all and (max-width: 437px) {
        &-divider {
        width: 80%;
        }
    }
}