<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <hr class="about-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="about-heading">O mnie</h2>
        <app-info-box [infoBoxContents]="infoBoxContents"></app-info-box>
        <button class="btn btn-primary btn-lg">Więcej</button>
      </div>
      <div class="col-md-5 col-md-offset-2 col-sm-6">
        <img class="img-responsive hidden-xs margin-top" src="../../../assets/images/ipad.png" alt="">
      </div>      
    </div>
  </div>
</div>