<div class="content about" data-aos="fade-up" data-aos-anchor-placement="top-center">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <hr class="content-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="content-heading">O mnie</h2>
        <app-info-box [infoBoxContents]="infoBoxContents"></app-info-box>
        <button *ngIf='false' class="btn btn-primary btn-lg">Więcej</button>
      </div>
      <div class="col-md-5 col-md-offset-2 col-sm-6">
        <img class="img-responsive hidden-xs margin-top" src="../../../assets/images/ipad.png" alt="">
      </div>      
    </div>
  </div>
</div>