<div class="content experience">
  <div class="container">
    <div class="row">  
      <div class="col-md-5 col-md-offset-1 col-sm-push-6 col-sm-6">
        <hr class="content-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="content-heading">Doświadczenie</h2>
        <app-info-box [infoBoxContents]="infoBoxContents"></app-info-box>
        <button *ngIf='false' class="btn btn-primary btn-lg">Więcej</button>
      </div>     
      <div class="col-md-5 col-sm-pull-6 col-sm-6">
        <img class="img-responsive hidden-xs margin-top" src="../../../assets/images/dog.png" alt="">
      </div>     
    </div>
  </div>
</div>
