<div class="content skills">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <hr class="content-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="content-heading">Umiejętności</h2>
        <h3>Backend</h3>
        <app-tags [tags]="backendTags"></app-tags>
        <h3>Frontend</h3>
        <app-tags [tags]="frontendTags"></app-tags>
        <h3>Narzędzia</h3>
        <app-tags [tags]="toolsTags"></app-tags>        
        <button *ngIf='false' class="btn btn-primary btn-lg">Więcej</button>
      </div>
      <div class="col-md-5 col-md-offset-2 col-sm-6">
        <img class="img-responsive hidden-xs margin-top" src="../../../assets/images/phones.png" alt="">
      </div>      
    </div>
  </div>
</div>